<div class="row">
    <div class="col-9">
        <app-detailview *ngIf="detailPokemon" [pokemon]="detailPokemon"></app-detailview>
          <img  class="pokedex" src="assets/img/pokedex.png">
    </div>


    <div class="col-3">
        <div class="card-block">
            <table class="table table-hover primary-color-dark-text " *ngIf="pokemon">
                <thead>
                    <tr>
                        <th> <strong>naam</strong> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let poke of pokemon.results" (click)="SetPokemon(poke.url)">
                        <td> <strong>{{poke.name}}</strong> </td>
                    </tr>
                    <button type="button" class="btn btn-danger waves-light" (click)="GetNext(pokemon.next)" mdbRippleRadius>next</button>
                </tbody>
            </table>
        </div>
    </div>
</div>


