<div class="title"><h1><strong>choose a pokemon </strong></h1></div>

<div class=" row ">

    <div class="col-8">
        <app-detailview *ngIf="detailPokemon" [pokemon]="detailPokemon"></app-detailview>
          <img  class="pokedex " src="assets/img/pokedex.png">
    </div>

    
    <div class="col-4">
            <div class="card">
        <div class="card-block">
                <div class="md-form">
                        <span class="float-right"><i class="fa fa-close"></i></span>
                
                        <input mdbActive type="text" id="form1" class="form-control" (keyup)="onNameKeyUp($event)">
                        <label for="form1" class="">Enter Search:</label>
                        <button type="button" class="btn btn-primary waves-light" (click)="SearchPokemon()" mdbRippleRadius>
                            <i class="fa fa-search" aria-hidden="true"></i> search pokemon</button>
                
                        <br>
                
                    </div>
            <table class="table table-hover primary-color-dark-text " *ngIf="pokemon">
                <thead>
                    <tr>
                        <th> <strong>naam</strong> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let poke of pokemon.results" (click)="SetPokemon(poke.url)">
                        <td> <strong>{{poke.name}}</strong> </td>
                    </tr>
                    <button type="button" class="btn btn-danger waves-light" (click)="GetPrev(pokemon.previous)" mdbRippleRadius>previous</button>
                    <button type="button" class="btn btn-danger waves-light" (click)="GetNext(pokemon.next)" mdbRippleRadius>next</button>
                    
                </tbody>
            </table>
        </div>
    </div>
    </div>

</div>


