


<div class="container">
    <div class="card">

        <button type="button" class="btn btn-danger waves-light" mdbWavesEffect (click)="ShowMotor()">buy a motorcycle!</button>

        <button type="button" class="btn btn-danger waves-light" mdbWavesEffect (click)="ShowHelmet()">buy a helmet!</button>

    

    </div>
</div>

    <br>
    <br>
<div class="container" *ngIf="showMotor && showTable">  
        
            <app-motor-catalogus></app-motor-catalogus>
        </div>

            <div class="container" *ngIf="!showMotor && showTable">
            <app-helmet-catalogus></app-helmet-catalogus>
        </div>

    

    




                
            