/*.container{
    float: right;
   
    
}*/

.pokedex{
    position: absolute;
    top: 10px;
    left: 20px;

    z-index: 1;
    
    
}

.pokemon{
    position: relative;
    width: 260px;
    height: 175px;
    z-index: 2;
    
}

.imagewrap{
   // background-color: blue;
    position: relative;
    top: 158px;
    left: 40px;
    width: 261px;
    height: 177px;
    z-index: 3;
}
.detailwrap{
    position: relative;
   // background-color: blue;
    z-index: 4;
    top: -4px;
    left: 437px;
    padding-left: 3px;
    width: 240px;
    height: 112px;


}


