<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark red">
        <logo>
                <a class="navbar-brand" href="#">
                        <img src="assets/img/logo.png" height="30" class="d-inline-block align-top" alt=""> 
                    </a>
        </logo>
        <links>
            <ul class="navbar-nav">
                <li class="nav-item active" [routerLinkActive]="['active']">
                    <a [routerLink]="['/pokedex']" class="nav-link waves-light" mdbRippleRadius>pokedex <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" [routerLinkActive]="['active']">
                    <a [routerLink]="['/type']" class="nav-link waves-light" mdbRippleRadius>pokemon types</a>
                </li>
                <li class="nav-item" [routerLinkActive]="['active']">
                    <a [routerLink]="['/item']" class="nav-link waves-light" mdbRippleRadius>items</a>
                </li>

                <li class="nav-item" [routerLinkActive]="['active']">
                    <a [routerLink]="['/store']" class="nav-link waves-light" mdbRippleRadius>store</a>
                </li>

                <li class="nav-item" [routerLinkActive]="['active']">
                    <a class="nav-link waves-light" mdbRippleRadius href="profile" >profile</a>
                </li>

                <li class="nav-item" [routerLinkActive]="['active']">
                    <a class="nav-link waves-light" mdbRippleRadius href="logout" >log out</a>
                </li>
            </ul>
        </links>
      </mdb-navbar>
        <!--/.Navbar-->