<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-dark red">
  <logo>
      <a href="#" class="navbar-brand">pokemon</a>
  </logo>
  <links>
      <ul class="navbar-nav">
          <li class="nav-item active" [routerLinkActive]="['active']">
              <a [routerLink]="['/pokedex']" class="nav-link waves-light" mdbRippleRadius >pokedex <span class="sr-only">(current)</span></a>
              <a [routerLink]="['/berries']" class="nav-link waves-light" mdbRippleRadius >berries <span class="sr-only">(current)</span></a>
              <a [routerLink]="['/item']" class="nav-link waves-light" mdbRippleRadius >items <span class="sr-only">(current)</span></a>
          </li>
      
      </ul>
  </links>
</mdb-navbar>
  <!--/.Navbar-->